#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  background-color: #ffbf00;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #000;
  padding: 1rem 2rem;
}

a.active {
  background-color: antiquewhite;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card,
.card > a {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.87);
}

.card {
  padding: 2rem;
  border-top: 2px solid #ffbf00;
}

.card img {
  max-height: 10rem;
  margin-right: 1rem;
}

.card.light h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

form {
  text-align: left;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: 2px solid #ffbf00;
}

form input[type="submit"] {
  margin-top: 1.5rem;
}

@media (prefers-color-scheme: light) {
  .card > a {
    color: #213547;
  }
}
