#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root div {
  padding: 2rem;
  outline: 2px solid black;
}

#root > div {
  background-color: antiquewhite;
}

#root > div > div {
  background-color: aqua;
}

#root > div > div > div {
  background-color: cadetblue;
}

#root > div > div > div > div {
  background-color: purple;
}

#root > div > div > div > div > div {
  background-color: orange;
}

#root > div > div > div > div > div > div {
  background-color: green;
}
