#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root div {
  padding: 0.8rem;
  outline: 2px solid black;
}

#root > div {
  background-color: antiquewhite;
}

#root > div > div {
  background-color: aqua;
}

.grand-parent {
  background-color: cadetblue;
  display: inline-block;
}

.grand-parent {
  margin: 1rem;
}

.parent {
  background-color: purple;
}

.parent > div {
  background-color: orange;
}

.child {
  background-color: green;
}

.grand-child {
  background-color: red;
}

.grand-child > div {
  background-color: darkkhaki;
}
